<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:43</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchScript.acceptCache()[pri:2, instance:com.mindtree.runner.SearchScript@26adfd2d]">acceptCache</td> 
  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:38</td>   <td>-5219</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchScript.createTest(java.lang.reflect.Method)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:43</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchScript.createTest(java.lang.reflect.Method)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:44</td>   <td>1042</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchScript.createTest(java.lang.reflect.Method)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:55</td>   <td>12221</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchScript.createTest(java.lang.reflect.Method)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&gt;&gt;createTest</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>21/06/03 14:15:30</td>   <td>-13040</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.data()[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&gt;&gt;data</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>21/06/03 14:15:30</td>   <td>-12776</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.driver()[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&gt;&gt;driver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:55</td>   <td>12222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchScript.gotOffer()[pri:4, instance:com.mindtree.runner.SearchScript@26adfd2d]">gotOffer</td> 
  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:42</td>   <td>-891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchScript.result(org.testng.ITestResult)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&lt;&lt;result</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:44</td>   <td>312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchScript.result(org.testng.ITestResult)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&lt;&lt;result</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:55</td>   <td>11713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchScript.result(org.testng.ITestResult)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&lt;&lt;result</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:17:20</td>   <td>97166</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchScript.result(org.testng.ITestResult)[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&lt;&lt;result</td> 
<td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:38</td>   <td>-5218</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchScript.searchItem(java.lang.String)[pri:1, instance:com.mindtree.runner.SearchScript@26adfd2d]">searchItem</td> 
  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="7caca8">  <td>21/06/03 14:15:44</td>   <td>1043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchScript.selectItem()[pri:3, instance:com.mindtree.runner.SearchScript@26adfd2d]">selectItem</td> 
  <td>main@1129944640</td>   <td></td> </tr>
<tr bgcolor="a487af">  <td>21/06/03 14:17:21</td>   <td>97537</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.mindtree.runner.SearchScript@26adfd2d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1129944640</td>   <td></td> </tr>
</table>
